@font-face {
  font-family: 'Source Han Serif CN';
  src: local('Source Han Serif CN'), local('Source Han Serif SC'),
       local('Source Han Serif TC'), local('Source Han Serif TW'),
       local('Source Han Serif'), local('Noto Serif CJK SC'), local('Songti SC'), local('SimSong'),
       url('https://cdn.jsdelivr.net/gh/yihui/cron/fonts/SourceHanSerifCN-Regular-yihui.woff2') format('woff2');
}
body {
  font-family: Palatino, 'Palatino Linotype', 'Minion Pro', 'Source Han Serif CN', serif;
}
code {
  font-family: Consolas, "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
pre code {
  font-family: Consolas, "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
.menu, .meta-line, footer {
  font-family: Jost, Optima, Candara, sans-serif;
}
