/* alegreya-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/alegreya-v35-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* alegreya-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/alegreya-v35-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* alegreya-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/alegreya-v35-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* alegreya-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/alegreya-v35-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-family: 'Source Han Serif CN';
  src: local('Source Han Serif CN'), local('Source Han Serif SC'),
       local('Source Han Serif TC'), local('Source Han Serif TW'),
       local('Source Han Serif'), local('Noto Serif CJK SC'), local('Songti SC'), local('SimSong'),
       url('https://cdn.jsdelivr.net/gh/yihui/cron/fonts/SourceHanSerifCN-Regular-yihui.woff2') format('woff2');
}
body {
  font-family: Alegreya, Palatino, 'Palatino Linotype', 'Minion Pro', 'Source Han Serif CN', serif;
}
code {
  font-family: Consolas, "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
pre code {
  font-family: Consolas, "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
.menu, .meta-line, footer {
  font-family: Alegreya, Jost, Optima, Candara, sans-serif;
}
